{% extends 'base.html' %}
{% load staticfiles %}
{% load comment_tags %}
{% load like_tags %}
{% block title %}
    {{ title }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">{% block blog_list_title %}
                        博客列表{% endblock %}（一共有{{ blogs|length }}篇博客）
                    </div>
                    <div class="panel-body">
                        {% for blog in blogs %}
                            <div class="blog">
                                <h3>
                                    <a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
                                </h3>
                                <p class="blog-info">
                                    <span class="glyphicon glyphicon-tag"></span>
                                    <a href="{% url 'blogs_with_type' blog.blog_type.id %}">
                                        {{ blog.blog_type }}</a>
                                      <span class="glyphicon glyphicon-time"></span>{{ blog.created_time|date:'Y-m-d' }}
                                    &nbsp;&nbsp;<span>阅读：({{ blog.get_read_num }})</span>
                                      <span>评论：({% get_comment_count blog %})</span>
                                      <span>点赞：{% get_like_count blog %}</span>
                                </p>
                                <p>{{ blog.content|truncatechars:30 }}</p>
                            </div>
                        {% empty %}
                            <div class="blog">
                                <h3>---暂无博客，敬请期待</h3>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="pagination">
                    <nav aria-label="Page navigation">
                        <ul class="pagination">
                            <li>
                                {% if page_of_blogs.has_previous %}
                                    <a href="{% url 'blog_list' %}?page={{ page_of_blogs.previous_page_number }}" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&laquo;</span>
                                {% endif %}

                            </li>

                            {% for page_num in page_range %}
                                {% if page_num == page_of_blogs.number %}
                                    <li class="active"><a href="{% url 'blog_list' %}?page= {{ page_num }}"><span>{{ page_num }}</span></a></li>
                                {% else %}

                                    <li><a href="{% url 'blog_list' %}?page={{ page_num }}"><span>{{ page_num }}</span></a></li>
                                {% endif %}

                            {% endfor %}


                            <li>
                                {% if page_of_blogs.has_next %}
                                    <a href="{% url 'blog_list' %}?page={{ page_of_blogs.next_page_number }}" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                {% else %}
                                    <span aria-hidden="true">&raquo;</span>
                                {% endif %}

                            </li>
                        </ul>
                    </nav>
                </div>

            </div>

            <div class="col-sm-4 col-md-4">

                <div class="panel panel-default">
                    <div class="panel-heading"><h4>博客分类</h4></div>
                    <div class="panel-body">
                        <ul class='blog-types'>
                            {% for type in blog_types %}
                                <li><a href="{% url 'blogs_with_type' type.id %}">
                                    {{ type.type_name }}({{ type.blog_count }})</a>
                                </li>

                            {% empty %}
                                <p>---暂无分类，敬请期待</p>
                            {% endfor %}
                        </ul>

                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading"><h4>日期分类</h4></div>
                    <div class="panel-body">
                        <ul class='blog-types'>
                            {% for blog_date,blog_count in blog_dates.items %}
                                <li><a href="{% url 'blogs_with_date' blog_date.year blog_date.month %}">
                                    {{ blog_date|date:'Y年m月'}} ({{ blog_count }})</a>

                                </li>
                            {% empty %}
                                <p>---暂无分类，敬请期待</p>
                            {% endfor %}
                        </ul>

                    </div>
                </div>

            </div>

        </div>

    </div>

{% endblock %}

{% block nav_blog_active %}
    {{ 'active' }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog.css' %}">
{% endblock %}